@media (max-width: 991px){

    header {
      display: flex;
    }

    #Btn {
      display: flex;
      margin-right: 50px;
    }

    .fa-bars {
      font-size: 40px;
      color: yellow;
    }

    header > ul {
      display: none;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      position: absolute;
      top: 10vh;
      width: 100%;
      height: 50vh;
      background-color: orange;
    }

    header > ul.show {
      display: flex;
    }

    header > ul > a {
      border-bottom: 2px solid white;
      color: white;
      opacity: 0.8;
      text-decoration: none;
      transform: scale(1);
      transition: all 350ms;
    }
      
    header > ul > a:hover {
      transform: scale(1.105);
      opacity: 1;
    }
      
    header > ul > a > li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-left: 20px;
      list-style-type: none;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
      font-weight: 200px;
    }

    #About {
      display: flex;
      flex-direction: column-reverse;
    }

    .aboutin1 {
      width: 100%;
      height: 50%;
      display: flex;
      justify-content: center;
    }
    
    .aboutin1 p {
      font-weight: 200px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 15px;
      line-height: 25px;
      margin-top: 20px;
      text-align: center;
    }

    .aboutin2 {
      width: 35%;
      height: 50%;
    }

    #In_Stock {
      height: max-content;
      width: 100%;
      background-color: yellow;
      /* flex-wrap: wrap; */
    }

    .stockRow {
      width: 100%;
      height: max-content;
      background-color: black;
      margin: 0px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      padding-top: 10px;
    }

    .stocks {
      width: 80%;
      height: 250px;
      margin-bottom: 20px;
    }
    
    .stockImg {
      width: 100%;
      height: 80%;
    }

    .stockImg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .stockDetails {
      width: 100%;
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .ordersection {
      display: none;
    }

    .order {
      width: 80%;
      height: 60%;
      background-color: rgb(165, 42, 42);
      display: flex;
      flex-direction: column;
    }

    .orderList {
      font-size: 25px;
      font-weight: 500;
    }

    .orderRow {
      padding: 0px 20px;
    }

    .itemList form h4 {
      width: 40%;
      font-weight: 500px;
      font-size: 18px;
      color: white;
    }
 
    .itemList form h5 {
      width: 20%;
      font-weight: 500px;
      font-size: 18px;
      display: flex;
      justify-content: center;
      color: white;
    }

    #Contact {
      height: max-content;
      padding-top: 20px;
    }

    .contactRow2 {
      flex-direction: column;
    }

    .contactcolumn {
      width: 100%;
    }
 
    .contactcolumn h2 {
      font-weight: 500px;
      font-size: 20px;
      /* color: brown; */
      margin-top: 25px;
    }
}